


#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: unset;
    height: inherit;
    background-color: #333;
}

#navigation ul li a {
    border-left: 2px solid grey;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#leftmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    height: auto;
    background-color: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#leftmenu ul li{
    padding-top: 1px;
}



#leftmenu ul li a {
    border-left: unset;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    display: flex;
    height: 50px;
    width: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    transition: 0.3s ease;
    background-color: #333;
}

#navigation ul li a:hover:not(.active) {
    color: #e74c3c
}


#leftmenu ul li a:hover:not(.active) {
    opacity: 0.7;  
}

.GreenActive {
    background-color: #4CAF50;
    border-left: 2px solid white;
}




#banner{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 10;
    
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: -moz-linear-gradient(left, #CCCCCC 0%, #EEEEEE 50%, #EEEEEE 50%, #CCCCCC 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCCCCC),color-stop(50%,#EEEEEE), color-stop(50%,#EEEEEE), color-stop(100%,#CCCCCC));
}

#Logo{
    height: 100%;
    width: 205px; 
    float: left;
}



#Header{
  
    background-image: url(images/Header/header.jpg);
    height: 100%; 
    width: 1161px;
    height: 80px; 
    float: right; 
}

#navigation{
    position: fixed;
    height: 30px;
    left: 0;
    top:80px;
}

#mainpage{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 110px;
    background: lavender;
    z-index: 10;
}

#footer{
    position: fixed;
    width: 100%;
    height: 4%;
    left: 0;
    top: 96%;
    background: #333;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftmenu{
    position: fixed;
    width: 205px;
    height: 100%;
    left: 0;
    background-image: url(images/Left-menu-background/leftmenubg.jpg);
    z-index: 10; 
    overflow: auto;
}



#Content{
    position: fixed;
    width: 85%;
    height: 519px;
    left: 15%;
    top: 110px;
    z-index: 10;
    overflow: auto;
}



.FooterItem{
    margin-right: 15px;
    height:100%;
    width: auto;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}


/* Slideshow container */
.slideshow-container {
    width: 83.75%;
    position: fixed;
    max-height: 400px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: #bbb;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slprev, .slnext,.text {font-size: 11px}
}

